# API Configuration
NEXT_PUBLIC_API_URL=https://dnh-server-staging.up.railway.app

# Google OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=701397813152-0mkq23772vd5qpllcl4opt9bvidgsfm7.apps.googleusercontent.com
